#container{
  display: inline-block;
  padding: 50px;
  text-align: center;
  margin-left: 100px;
}
#choice{
  vertical-align: top;
  width: 600px;
}
#wrongGuess{
  background-color: red;
  color: white;
  width: 300px;
  height: 300px;
  margin-left: 160px;
}
#gotIt{
  background-color: green;
  color: white;
  width: 300px;
  height: 300px;
  margin-left: 160px;
}
#replay{
  background-color: white;
}
#submit{
  margin-top: 20px;
}
